@import'variables';
@import'typography';

.featured-image {
	height: 250px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
#sidebar1{
	
	.sidebar{
		border-style: solid;
		border-radius: 25px;
		border-color: $light-grey;
		background-color:$pink;
		padding: 0.5em, 1em;
		margin-top: 20px;
		.widget{
			border-bottom: solid;
			border-color: black;
			padding-bottom:0.5em;
			&:last-child{
				border-bottom:none;
			}
			h3{
				font-family: $meny;
				color: $dark-pink;
			}
			input#s{
				    width: 100%;
			}
	    	ul {
				list-style-type: none;

				a{
				font-family: $meny;
				color: $pink;
				color: $dark-pink;
				font-style: none;
				font-size: 15px;

				&:hover{
					color:$a-font-hover;
					text-decoration: none;
						}

				}
			}
		}
	}

}

ul{
	    -webkit-padding-start: 10px;
}



.navbar{
	border-style: solid;
	border-radius: 25px;
	border-color: $light-grey;
	font-family: $header;
	background-color:$light-pink;
	font-size: 20px;
	.navbar-brand{
		font-family: $header;
		
	}
}

.navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")}

.site-footer{
	background-color: $dark-pink;
	color: $pink;
}


article{
	margin-top: 20px;
	padding: 2em;

	header{
		h1{
			font-family: $header;
			color: $dark-pink;
		}
		.the-title{

			
			a{
				font-family: $header;
				color: $dark-pink;
				font-style: none;
				font-size: 30px;

				&:hover{
					color:$a-font-hover;
					text-decoration: none;

				}

			}

		}
	}
	main{
		p{
			font-family: $content;
			text-align: justify;
			.btn-pink{
				background-color: $pink;
				border-color: $light-grey;
				border-style: solid;
				margin-top: 1em;
				&:hover{
					box-shadow: 9px 6px 22px 1px rgba(0,0,0,0.66);
				}
			}
		}
	}
}

a{
	color: black;
	&:hover{
		color:$a-font-hover;
	}
}

